@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-Regular.ttf');
    src: url('../font/Nunito-Regular.ttf') format('ttf'),
      url('../font/Nunito-Regular.ttf') format('truetype');
  }
  
  html {
    position: relative;
    min-height: 100%;
    font-family: 'Nunito';
  }
  
  body {
    height: 100%;
  }

  a:focus {
    outline: none;
  }
  
  #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #wrapper #content-wrapper {
    background-color: #FAFDFB;
    width: 100%;
    overflow-x: hidden;  
  }
  
  #wrapper #content-wrapper #content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }

  .container,
  .container-fluid,
  .container-login {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  
  
  @media (min-width:768px) {
    .container-login {
      margin-left: 25rem;
      margin-right: 25rem;
    }
  }
  
  
  .scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90, 92, 105, 0.5);
    line-height: 46px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }

  .scroll-to-top:focus,
  .scroll-to-top:hover {
    color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }
  
  .scroll-to-top:hover {
    background: #5a5c69;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }
  
  .scroll-to-top i {
    font-weight: 800;
  }

  @-webkit-keyframes growIn {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes growIn {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animated--grow-in,
  .sidebar .nav-item .collapse {
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
    animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
  }