@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-Regular.ttf');
    src: url('../font/Nunito-Regular.ttf') format('ttf'),
      url('../font/Nunito-Regular.ttf') format('truetype');
  }
  
  html {
    position: relative;
    min-height: 100%;
    font-family: 'Nunito';
  }
  
  body {
    height: 100%;
  }

  a:focus {
    outline: none;
  }
  
  #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #wrapper #content-wrapper {
    background-color: #FAFDFB;
    width: 100%;
    overflow-x: hidden;  
  }
  
  #wrapper #content-wrapper #content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }